*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Crimson Text', serif;
    font-family: 'Genos', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;

}


.navmenu{
    display: flex;
}

.navmenu a {
    color: #b6465f;
    font-size: 30px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color:#890620;
}

.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color:#b6465f;
    font-size: 30px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover{
    transform: scale(1.1);
    color: #890620;
}

#menu-icon{
    font-size: 35px;
    color:#b6465f;
    z-index: 10001;
    cursor: pointer;
}

#menu-icon:hover{
    color: #890620;
}

section{
    padding: 5% 10%;
    color:#890620;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(kepek/hatter.jpeg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5{
    color: #071013;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1{
    color:#890620;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;

}

.main-text p{
    color: #b6465f;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn{
    display: inline-block;
    color:#071013;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #071013;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    transform: scale(1.1);
    background-color: #071013;
    color: #ebd4cb;
}

.main-btn i{
    vertical-align: middle;
}

.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i{
    color: #071013;
    font-size: 25px;
    border-radius: 40px;
    padding: 12px 12px;
    border: 2px solid #071013
}

.down i:hover{
    background: #071013 ;
    color: #ebd4cb;
    transform: scale(1.1);
    transition: all .42s ease;
}

header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.center-text h2{
    color: #111;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
}

.center-text span{
    color: #890620;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap:2rem;
}

.row{
    position: relative;
    transition: all .40s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}

.row img:hover{
    transform: scale(0.9);
}

.product-text h5{
    position: absolute;
    top:13px;
    left:13px;
    color:#fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #890620 ;
    padding: 3px 10px;
    border-radius: 2px ;
}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover{
    color: #b6465f;
    transform: scale(1.2);
}

.ratting i{
    color:#890620;
    font-size: 18px;
}

.price h4{
    color:#071013;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p{
    color:#071013;
    font-size: 14px;
    font-weight: 600;
}

@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width:630px){
    .main-text h1{
        padding: 50px;
        transition: .4s;
    }

    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #ebd4cb;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}